VITE_FIREBASE_API_KEY=AIzaSyClU1r_57Gs6rLIW9EmFgvoZlcXDS9LbbQ
VITE_FIREBASE_AUTH_DOMAIN=agustusan-warga-tc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=agustusan-warga-tc
VITE_FIREBASE_STORAGE_BUCKET=agustusan-warga-tc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=696787245871
VITE_FIREBASE_APP_ID=1:696787245871:web:8979f84056e0eb5cae5fda
VITE_FIREBASE_MEASUREMENT_ID=G-4EDNVZB7BM
